.navBar{
    background-color: blueviolet; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px rgb(0, 0, 8);


}

#logoDiv{
    background-color: aliceblue;
    height: 50px;
    width: 60px;
}

#logoDiv img{
    height: 50px;
}

.navItems{
    background-color: rgb(97, 97, 160);
    
}

.navMenu{
    text-decoration: none;
    font-size: 13px;
    color:black ;
    list-style:none;
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;

}