.first-table-style{
    border: 1px ridge black;
}

#second-new-table{
    border: 2px solid black;
    border-collapse: collapse;
}

#second-new-table th,
#second-new-table td{
    border: 1px solid black;
}

.the-third-table{
    width: 100px;
    border: 1px dotted black;
    border-collapse: collapse;
}
.the-third-table th,
.the-third-table td{
    border: 1px solid palevioletred
}

#fifth-new-table{
    border: 2px solid black;
    width: 400px;
}

.forth-table-new{
    border: 2px solid black;
    border-collapse:collapse;
    width: 150px;
}
.forth-table-new th,
.forth-table-new td{
    border: 1px solid black;
}




