#form1 {
    display: flex;
    flex-direction: row;
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    float: left; 
    margin-right: 15px; 
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    }

#form1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(232, 160, 246);
    }

#form1 input[type="text"], input[type="email"] {
    width: 400px;
}

#form1 input[type="submit"] {
    background-color:rgb(169, 143, 249);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }

#form1 fieldset{
    width: 50px; 
    margin:auto;
    background-color: rgb(238, 248, 248);
    }


    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px ;
    }

    img{
        max-width: 500px;
        height: 500px;
    }

    #form5{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgb(182, 101, 101),rgb(253, 236, 236));
    margin-right: 15px; 
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #84353d;
    }

    #form5 label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fe6877;
    }

    legend{
        color: #581118;
        font-size: larger;
        font-style: italic;
        padding-bottom: 10px;
    }

    #form5 fieldset{
    width: 50px; 
    margin:auto;
    background-color: rgb(255, 211, 211);
    }

.feedback{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#form2 {
    display: flex;
    flex-direction: row;
    max-width: 100%; 
    height: auto;
    width: 1000px; 
    border-radius: 20px; 
    border: 2px solid #ddd;
    box-shadow: 2px 2px 5px rgba(231, 38, 38, 0.2);
    float:left;
    margin-right: 15px; 
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(148, 198, 214);
    }

    #form2 label{
    display: block;
    font-style:italic;
    color:rgb(32, 32, 192)
    }
    #form2 fieldset{
    width: 300px;
    background-color:rgb(208, 234, 254);
    max-width: fit-content ;
    }
    
    .register{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#form2 input[type="text"]{
    width: 400px;
}

#form2 option{
color:rgb(109, 34, 34);
background-color: rgb(253, 216, 216);
font-size: 12px;
padding: 5px 10px;
border: none;
border: radius 2px; 
cursor: pointer;
}

#form2 input[type="submit"] {
    background-color:rgb(140, 186, 252);
    color: rgb(21, 35, 232);
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: grab;
}

#form3{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgb(236, 247, 248),rgb(103, 204, 194));
    margin-right: 15px; 
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #144142;
    }

    #form3 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(10, 48, 44);
    }

    #form3 input[type="text"]{
    width: 400px;
    }

    #form3 input[type="submit"] {
    background-color:rgb(10, 65, 69);
    color: rgb(202, 227, 226);
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: grab;
}

#form3 input[type="file"]{
    background-color:rgb(2, 27, 29);
    color: rgb(202, 227, 226);
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
}





























